body {
    background-color: gainsboro;
}

h1 {
    /* border: 5px solid red; */
    border-bottom-width: 2px;
    border-bottom-style: double;
    border-bottom-color: black;
    text-align: center;
    /* border-top: 5px double blue;
        border-right: 3px dotted red;
        border-bottom: 10px ridge green;
        border-left: 50px outset teal; */
    /* border-width: 5px ;
        border-style: double;
        border-color: blue ; */

    /* border:5px double blue;
    max-width: 700px;
    min-width: 400px;
    min-width: 400px;
    max-height: 250px;
    min-height: 150px; */

}

.date {
    background-color: yellowgreen;
    text-align: center;
    border: 1px solid black;
    font-size: larger;
    color: cornflowerblue;
}

.box1 {
    border: 5px dotted deepskyblue;
    /* margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 20px; */
    /* margin: 50px auto;
    width: 1200px; */
    /* padding: 10px 30px; */
}

.box2 {
    border: 5px double orangered;
    /* margin: 50px auto;
    width: 500px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 20px;*/
    
}

.box3 {
    border: 5px ridge blue;
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    overflow: auto;
}

.cont {
    background-color: thistle;
    margin: 50px auto;
    padding: 30px 50px;
    
}