body {
    background-color: gainsboro;
}

.head {
    /* border: 5px solid red; */
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 170px;
    height: 40px;
    margin: 50px auto;
    color: steelblue;
    /* border-top: 5px double blue;
        border-right: 3px dotted red;
        border-bottom: 10px ridge green;
        border-left: 50px outset teal; */
    /* border-width: 5px ;
        border-style: double;
        border-color: blue ; */

    /* border:5px double blue;
    max-width: 700px;
    min-width: 400px;
    max-height: 250px;
    min-height: 150px; */
    /* outline: 5px solid green;
    outline-offset: 10px;
    outline-width: 10px;
    outline-style: dotted;
    outline-color: red; */
}

.date {
    width: 160px;
    height: 40px;
    margin: 10px auto;
    font-size: x-large;
    outline: 3px solid blue;
    outline-offset: 10px;

}

.box1 {
    border: 5px ridge deepskyblue;
    /* margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 20px; */
    margin: 50px auto;
    /* width: 1200px; */
    /* padding: 10px 30px; */
    overflow-x: scroll;
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    box-shadow: -10px 10px 5px 5px gray;
    text-decoration: double salmon line-through 1px;
}

.box2 {
    border: 5px double orangered;
    /* margin: 50px auto;
    width: 500px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 20px;*/
    overflow-x: scroll;
    width: 300px;
    height: 150px;
    box-shadow: -10px 10px 5px 5px gray;
    margin-left: 100px;
    text-decoration: solid salmon overline 2px;

}

.box3 {
    border: 5px solid blue;
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    overflow: auto;
    box-shadow: -10px 10px 5px 5px gray;
    margin-left: 1000px;
    text-decoration: dashed salmon underline 2px;
}
.boxx {
    border: 5px solid gray;
    outline: 3px ridge red;
    margin: 50px auto;
    font-size: 20px;
    /* text-decoration-line:line-through ;
    text-decoration-color: aqua ;
    text-decoration-style:double;
    text-decoration-thickness: 1px; */
    text-decoration: dashed salmon underline 2px;
}
.listt, li {
    border: 3px ridge firebrick;
    font-size: 20px;
    margin: 10px;
    /* list-style-type: circle;
    list-style-position:inside;
    list-style-image: url(images/right-arrow-outline.png); */
    list-style: circle inside url(images/icons8-arrow-24.png);
}

.cont {
    background-color: thistle;
    /* margin: 50px auto; */
    padding: 30px;
    text-align: center;
    /* text-align-last:auto; */
    text-transform:capitalize;
    text-indent:50px;
    word-spacing:3px;
    letter-spacing:1px;
    line-height:20px;
    

}

.container1 {
    width: 500px;
    height: 300px;
    /* border-top-left-radius: 5px 5px 10px 15px green;
    border-top-right-radius: 5px 5px 10px 15px green;
    border-bottom-left-radius: 5px 5px 10px 15px green;
    border-bottom-right-radius: 5px 5px 10px 15px green; */
    box-shadow: -5px 5px 5px 5px gray;
    overflow: auto;
    outline: dotted 4px blue;
    margin: 50px auto;
}


.headd {
    color: lightseagreen;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
    text-shadow: 5px 5px 5px gray, -5px -5px 5px black;
}

.headd2 {
    color: red
}

.indcont1 {
    width: 600px;
    height: 150px;
    margin: 50px auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}

.indcont2 {
    width: 100%;
    height: 100%;
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: -5px 5px 10px 3px gray;
    background-color: palegreen;
    outline: 3px ridge gray;
}

video {
    width: 1100px;
    height: 625px;
}

.mediavid {
    width: 1100px;
    height: 625px;
    margin: 10px 10px 10px 225px;
    outline: 8px ridge goldenrod;
}

audio {
    width: 500px;
    margin-top: 5px;
    margin-left: 550px;
}

.imagess {
    width: 350px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    outline: 5px solid gray;
    /* box-shadow: -5px 5px 7px 6px black; */
}

.mediaimg {
    background-color: aquamarine;
}


.headd3 {
    text-align: center;
    
}
.headd4 {
    text-align: center;
}
.foott1 {
    text-align: center;
}
.tab1 {
    border: 2px solid black;
    margin: 5px auto;
}
.tab2 {
    border: 2px solid black;
    margin: 5px auto;
}

.imagess1 {
    width: 350px;
    height: 400px;
    border-radius:50%;
    margin: 30px auto;
    padding: 70px;
   
}
.imagess2 {
    width: 350px;
    height: 400px;
    border-radius:50%;
    margin: 30px auto;
    padding: 70px;
}
.imagess3 {
    width:350px;
    height: 400px;
    border-radius:50%;
    margin: 30px auto;
    padding: 70px;
}
